.idea/
cmake-build-debug/
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.14.5/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.14.5/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.14.5/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.14.5/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.14.5/CMakeRCCompiler.cmake
